<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'Crown_Point_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="Crown_Point-Year-<%%VALUE(ID)%%>" class="Crown_Point-Year "><%%SELECT%%><%%VALUE(Year)%%><%%ENDSELECT%%></td>
		<td id="Crown_Point-Month-<%%VALUE(ID)%%>" class="Crown_Point-Month "><%%SELECT%%><%%VALUE(Month)%%><%%ENDSELECT%%></td>
		<td id="Crown_Point-Day-<%%VALUE(ID)%%>" class="Crown_Point-Day "><%%SELECT%%><%%VALUE(Day)%%><%%ENDSELECT%%></td>
		<td id="Crown_Point-PRECIP-<%%VALUE(ID)%%>" class="Crown_Point-PRECIP "><%%SELECT%%><%%VALUE(PRECIP)%%><%%ENDSELECT%%></td>
		<td id="Crown_Point-TMPMIN-<%%VALUE(ID)%%>" class="Crown_Point-TMPMIN "><%%SELECT%%><%%VALUE(TMPMIN)%%><%%ENDSELECT%%></td>
		<td id="Crown_Point-TMPMAX-<%%VALUE(ID)%%>" class="Crown_Point-TMPMAX "><%%SELECT%%><%%VALUE(TMPMAX)%%><%%ENDSELECT%%></td>
