<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="Crown_Point_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="Crown_Point_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="ID" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						
						<div class="form-control-static">
							<div><%%YOUTUBE(ID)%%></div>
							<label for="ID"><button type="button" id="ID-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#ID" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
						</div><input maxlength="255" type="text" class="form-control collapse" name="ID" id="ID" value="<%%VALUE(ID)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label for="Year" class="control-label col-lg-3">Year</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="Year" id="Year" value="<%%VALUE(Year)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="Month" class="control-label col-lg-3">Month</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="Month" id="Month" value="<%%VALUE(Month)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="Day" class="control-label col-lg-3">Day</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="Day" id="Day" value="<%%VALUE(Day)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="PRECIP" class="control-label col-lg-3">PRECIP</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="PRECIP" id="PRECIP" value="<%%VALUE(PRECIP)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="TMPMIN" class="control-label col-lg-3">TMPMIN</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="TMPMIN" id="TMPMIN" value="<%%VALUE(TMPMIN)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="TMPMAX" class="control-label col-lg-3">TMPMAX</label>
					<div class="col-lg-9">
						<input maxlength="255" type="text" class="form-control" name="TMPMAX" id="TMPMAX" value="<%%VALUE(TMPMAX)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="Crown_Point_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });


			if(!embedded_mode){
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-lg)').next().addClass('hspacer-lg');

				$j('.add_new_parent').click(function(){
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function(){
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			$j('form').on('click', '.view_parent', function(){
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				var parent_id = $j(this).prevAll('input:hidden').eq(0).val();

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length){
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}'){
					modal_window({
						url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
						close: function(){
							var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				}
			});
		});
	</script>