<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="Crown_Point-Year-<%%VALUE(ID)%%>" class=""><%%VALUE(Year)%%></td>
		<td id="Crown_Point-Month-<%%VALUE(ID)%%>" class=""><%%VALUE(Month)%%></td>
		<td id="Crown_Point-Day-<%%VALUE(ID)%%>" class=""><%%VALUE(Day)%%></td>
		<td id="Crown_Point-PRECIP-<%%VALUE(ID)%%>" class=""><%%VALUE(PRECIP)%%></td>
		<td id="Crown_Point-TMPMIN-<%%VALUE(ID)%%>" class=""><%%VALUE(TMPMIN)%%></td>
		<td id="Crown_Point-TMPMAX-<%%VALUE(ID)%%>" class=""><%%VALUE(TMPMAX)%%></td>
