<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="Piarco-Year-<%%VALUE(ID)%%>" class=""><%%VALUE(Year)%%></td>
		<td id="Piarco-Month-<%%VALUE(ID)%%>" class=""><%%VALUE(Month)%%></td>
		<td id="Piarco-Day-<%%VALUE(ID)%%>" class=""><%%VALUE(Day)%%></td>
		<td id="Piarco-PRECIP-<%%VALUE(ID)%%>" class=""><%%VALUE(PRECIP)%%></td>
		<td id="Piarco-TEMPMIN-<%%VALUE(ID)%%>" class=""><%%VALUE(TEMPMIN)%%></td>
		<td id="Piarco-TEMPMAX-<%%VALUE(ID)%%>" class=""><%%VALUE(TEMPMAX)%%></td>
