<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'Piarco_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="Piarco-Year-<%%VALUE(ID)%%>" class="Piarco-Year "><%%SELECT%%><%%VALUE(Year)%%><%%ENDSELECT%%></td>
		<td id="Piarco-Month-<%%VALUE(ID)%%>" class="Piarco-Month "><%%SELECT%%><%%VALUE(Month)%%><%%ENDSELECT%%></td>
		<td id="Piarco-Day-<%%VALUE(ID)%%>" class="Piarco-Day "><%%SELECT%%><%%VALUE(Day)%%><%%ENDSELECT%%></td>
		<td id="Piarco-PRECIP-<%%VALUE(ID)%%>" class="Piarco-PRECIP "><%%SELECT%%><%%VALUE(PRECIP)%%><%%ENDSELECT%%></td>
		<td id="Piarco-TEMPMIN-<%%VALUE(ID)%%>" class="Piarco-TEMPMIN "><%%SELECT%%><%%VALUE(TEMPMIN)%%><%%ENDSELECT%%></td>
		<td id="Piarco-TEMPMAX-<%%VALUE(ID)%%>" class="Piarco-TEMPMAX "><%%SELECT%%><%%VALUE(TEMPMAX)%%><%%ENDSELECT%%></td>
